.vscode/**
.vscode-test/**
out/**
dotnet-dependencies/bin/**
dotnet-dependencies/obj/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/webpack.config.js
**/*.map
**/*.ts
token_cache
node_modules